---
layout: default
---

  <div class="container">
    <div class="row" style="margin-top: 90px; margin-bottom: 30px;">

      {{ content }}

      <!-- Projects List -->
      <div class="text-center" style="width: 100%;">
        <h3 style="color: #333;">Projects</h3>
        <hr style="max-width: 50%;border-width: 3px;border-radius: 5px;margin-top: 8px;border-color: #333;">
      </div>

      {% assign projects = site.projects | sort: "order" %}
      {% for post in projects %}

      <article class="col-md-4 col-sm-6" style="margin-bottom: 15px;">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <div class="post-preview">
            <img src="img/posts/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.title }}" style="max-width: 100%;">
            <div class="post-content">
              <h4>{{ post.title }}</h4>
              <p class="post-subtitle">{{ post.subtitle }}</p>
            </div>
          </div>
        </a>
      </article>
      
      {% endfor %}
    </div>
  </div>
