---
layout: default
---

  <div class="container">
    <div class="row">

      {{ content }}

      <!-- Projects List -->
      {% for post in site.posts %}

      <article class="col-md-4 col-sm-6">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <div class="post-preview">
            <img src="img/posts/{{ post.thumbnail }}" class="img-responsive img-centered" alt="{{ post.title }}" style="max-width: 400px;">
            <div class="post-content" style="text-align: center;">
              <h4>{{ post.title }}</h4>
              <p class="post-subtitle">{{ post.subtitle }}</p>
            </div>
          </div>
        </a>
      </article>
      
      {% endfor %}
    </div>
  </div>
