---
layout: default
---

  <!-- About Page -->
  <div class="container">
    <div class="row" style="background-color: #c7c7c7;">
      <div class="col-lg-8 col-md-10 mx-auto" style="margin-top: 100px; margin-bottom: 30px;">

        <!-- Contact -->
        <div class="col-xs-12 col-md-6 pull-left">

          <div class="linkedin-icon">

          </div>

          <div class="github-icon">

          </div>

          <h4 class="text-center"> {{ site.email }} </h4>

          <a class="btn btn-primary" href="{{ site.cv_link }}" target="_blank">
            <button class="btn btn-default btn-lg">See Resume</button>  
          </a>

        </div>

        <!-- Info -->
        <div class="col-xs-12 col-md-6 pull-right" style="padding-top: 70px;">

          {{ content }}

        </div>

      </div>
    </div>
  </div>
