---
layout: default
---

  <!-- About Page -->
  <div class="container" style="height: 100vh;">
    <div class="row" style="height: 100%; background-color: #c7c7c7;">
      
      <!-- Contact -->
      <div class="col-xs-12 col-md-6 d-flex flex-column align-items-center">

        <div class="row mb-3">
          <div class="col-md-6 linkedin-icon">
            <i class="fab fa-linkedin fa-3x"></i>
          </div>
          <div class="col-md-6 github-icon">
            <i class="fab fa-github fa-3x"></i>
          </div>
        </div>

        <h4 class="email text-center"> {{ site.email }} </h4>

        <a class="resume" href="{{ site.cv_link }}" target="_blank">
          <button class="btn btn-default btn-lg">See Resume</button>  
        </a>

      </div>

      <!-- Info -->
      <div class="col-xs-12 col-md-6 pull-right">

        {{ content }}

      </div>
    </div>
  </div>
