---
layout: default
---

  <!-- About Page -->
  <div class="container">
    <div class="row" style="margin-top: 100px;">
      
      <!-- Contact -->
      <div class="col-xs-12 col-md-5 d-flex flex-column align-items-center">

        <div class="row mb-3" style="margin-bottom: 20px !important; color:#fff;">
          <div class="col-md-6 linkedin-icon">
            <i class="fab fa-linkedin fa-3x"></i>
          </div>
          <div class="col-md-6 github-icon">
            <i class="fab fa-github fa-3x"></i>
          </div>
        </div>

        <h4 class="email text-center " style="font-weight: 700;font-size: 20px; margin-bottom: 20px; color: #fff;"> {{ site.email }} </h4>

        <a class="resume" href="{{ site.cv_link }}" target="_blank">
          <button class="btn btn-secondary" style="border-radius: 0.5em; color: #fff;">See Resume</button>  
        </a>

      </div>

      <!-- Info -->
      <div class="col-xs-12 col-md-6 pull-right" style="color: #fff;">

        {{ content }}

      </div>
    </div>
  </div>
