---
layout: default
---

  <div class="container">
    <div class="row" style="background-color: #f7f7f7;">
      <div class="col-lg-8 col-md-10 mx-auto" style="margin-top: 70px; margin-bottom: 30px;">

        <div class="post-header">
          <h4>{{ post.title }}</h4>
          <p>2020</p>
          <p>Team of 3</p>
          <p>Short description showing what the project is about and the role I played with the features implemented</p>
        </div>
        
        {{ content }}

        <hr>

        <div class="clearfix text-center">
          <a class="btn btn-primary" href="{{"/" | relative_url }}">Back to Projects</a>
        </div>

      </div>
    </div>
  </div>
