---
layout: default
---

  <!-- Project Page -->
  <div class="container">
    <div class="row" style="background-color: #c7c7c7;">
      <div class="col-lg-8 col-md-10 mx-auto" style="margin-top: 90px; margin-bottom: 30px;">

        <div class="post-header text-center">
          <h1 style="margin-bottom: 0px;">{{ page.title }}</h1>
          <h2 style="font-size: 20px; font-weight: 400; color: #777;">{{ page.year }} &middot; Team of {{ page.numMembers }}</h2>
          <p style="margin-bottom: 0px;">{{ page.description }}</p>
        </div>
        
        <hr style="max-width: 25%; border-width: 3px;">

        {{ content }}

        <hr>

        <div class="clearfix text-center">
          <a class="btn btn-primary" href="{{"/" | relative_url }}" style="box-shadow: none;">Back to Projects</a>
        </div>

      </div>
    </div>
  </div>
